[Unit]
Description=signal docker service

[Service]
Type=oneshot
RemainAfterExit=yes
# see install.sh
WorkingDirectory=%h/signal/docker
ExecStartPre=mkdir -p %h/signal/storage/memory
ExecStart=/usr/bin/docker compose -f docker-compose.yml up --detach
ExecStop=/usr/bin/docker compose -f docker-compose.yml stop

[Install]
WantedBy=multi-user.target
