[Unit]
Description=signal wrapper for llm

[Service]
Type=simple
ExecStart= docker run -p 8000:8000 \
-v $(pwd):/app/mounts \
-v $(pwd)/memory:/home/node/.claude \
-e ANTHROPIC_BASE_URL=[yourllmurl] \
-e ANTHROPIC_AUTH_TOKEN=[yourauthtoken] \
-e ANTHROPIC_API_KEY=[yourapikey] \
-e SIGNAL_BOT_PHONE_NUMBER=[yourbotphonenumber] \
-e SIGNAL_USER_ADMIN_NUMBER=[yourrealphonenumber] \
--add-host=host.docker.internal:host-gateway \
ghcr.io/smart-craw/smart-craw-signal:v0.0.1

Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
